.quiz-wrapper {
    min-width: max-content;
    width: 40%;
}

.quiz-header {
    background-color: #626ed4;
}

.submit-btn {
    min-width: max-content;
    padding-left: 7%;
    padding-right: 7%;
}
